@font-face {
  font-family: 'RionaSansLight';
  src: url("../fonts/rionasans-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/rionasans-light-webfont.woff2") format("woff2"), url("../fonts/rionasans-light-webfont.woff") format("woff"), url("../fonts/rionasans-light-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'RionaSansExtraLight';
  src: url("../fonts/rionasans-extralight-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/rionasans-extralight-webfont.woff2") format("woff2"), url("../fonts/rionasans-extralight-webfont.woff") format("woff"), url("../fonts/rionasans-extralight-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'RionaSansBold';
  src: url("../fonts/rionasans-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/rionasans-bold-webfont.woff2") format("woff2"), url("../fonts/rionasans-bold-webfont.woff") format("woff"), url("../fonts/rionasans-bold-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'RionaSansRegular';
  src: url("../fonts/rionasans-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/rionasans-regular-webfont.woff2") format("woff2"), url("../fonts/rionasans-regular-webfont.woff") format("woff"), url("../fonts/rionasans-regular-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'RionaSansThin';
  src: url("../fonts/rionasans-thin-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/rionasans-thin-webfont.woff2") format("woff2"), url("../fonts/rionasans-thin-webfont.woff") format("woff"), url("../fonts/rionasans-thin-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base styles
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

figure {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Base Layout
   ========================================================================== */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1060px;
  padding: 0 24px;
  position: relative;
}

/* ==========================================================================
   Grid
   ========================================================================== */
.row {
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex: 0 1 auto;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  position: relative;
  overflow: hidden;
}
.row.reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}
.col.reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/** Column size xs */
.col-xs-1 {
  -ms-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.col-xs-2 {
  -ms-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.col-xs-3 {
  -ms-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.col-xs-5 {
  -ms-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.col-xs-6 {
  -ms-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.col-xs-8 {
  -ms-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.col-xs-9 {
  -ms-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.col-xs-11 {
  -ms-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.col-xs-12 {
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.start-xs {
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

/** Column size sm */
@media screen and (min-width: 500px) {
  .col-sm-1 {
    -ms-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    -ms-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    -ms-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    -ms-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    -ms-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    -ms-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    -ms-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .start-sm {
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-items: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
/** Column size md */
@media screen and (min-width: 800px) {
  .col-md-1 {
    -ms-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    -ms-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    -ms-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    -ms-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    -ms-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    -ms-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    -ms-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .start-md {
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  .end-md {
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
/** Column size lg */
@media screen and (min-width: 1000px) {
  .col-lg-1 {
    -ms-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    -ms-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    -ms-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    -ms-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    -ms-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    -ms-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    -ms-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
/** Column size xlg */
@media screen and (min-width: 1200px) {
  .col-xlg-1 {
    -ms-flex-basis: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  .col-xlg-2 {
    -ms-flex-basis: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  .col-xlg-3 {
    -ms-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xlg-4 {
    -ms-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .col-xlg-5 {
    -ms-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .col-xlg-6 {
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xlg-7 {
    -ms-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .col-xlg-8 {
    -ms-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .col-xlg-9 {
    -ms-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xlg-10 {
    -ms-flex-basis: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .col-xlg-11 {
    -ms-flex-basis: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  .col-xlg-12 {
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xlg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-xlg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-xlg-offset-3 {
    margin-left: 25%;
  }

  .col-xlg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-xlg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-xlg-offset-6 {
    margin-left: 50%;
  }

  .col-xlg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-xlg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-xlg-offset-9 {
    margin-left: 75%;
  }

  .col-xlg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-xlg-offset-11 {
    margin-left: 91.66667%;
  }

  .start-xlg {
    justify-content: flex-start;
    text-align: start;
  }

  .center-xlg {
    justify-content: center;
    text-align: center;
  }

  .end-xlg {
    justify-content: flex-end;
    text-align: end;
  }

  .top-xlg {
    align-items: flex-start;
  }

  .middle-xlg {
    align-items: center;
  }

  .bottom-xlg {
    align-items: flex-end;
  }

  .around-xlg {
    justify-content: space-around;
  }

  .between-xlg {
    justify-content: space-between;
  }

  .first-xlg {
    order: -1;
  }

  .last-xlg {
    order: 1;
  }
}
/* ==========================================================================
   Base Typography
   ========================================================================== */
html {
  font-size: 62.5%;
}

body {
  font-family: "RionaSansRegular", helvetica, arial, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "RionaSansBold", helvetica, arial, sans-serif;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3.4rem;
  margin: 1em 0;
}

h2 {
  font-size: 2.7rem;
  margin: 1em 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1em 0;
}

h4 {
  font-size: 1.3rem;
  margin: 1em 0;
}

h5 {
  font-size: 1.2rem;
  margin: 1em 0;
}

h6 {
  font-size: 1.2rem;
  margin: 1em 0;
}

strong {
  font-family: "RionaSansBold", helvetica, arial, sans-serif;
  font-weight: normal;
}

.headline {
  font-family: "RionaSansBold", helvetica, arial, sans-serif;
}

.sub-headline {
  font-family: "RionaSansBold", helvetica, arial, sans-serif;
}

.preamble {
  font-family: "RionaSansRegular", helvetica, arial, sans-serif;
  font-size: 1.6rem;
  margin: 1em 0;
}

.bottom-preamble {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.flow-title {
  font-family: "RionaSansLight", helvetica, arial, sans-serif;
}

.remodal h2 {
  margin-bottom: 0;
}

/* ==========================================================================
   Components
   ========================================================================== */
.button, a.button {
  background: #da0082;
  box-shadow: none;
  border: none;
  border-radius: .5em;
  color: #fff;
  display: inline-block;
  font-family: "RionaSansBold", helvetica, arial, sans-serif;
  font-size: 1.6rem;
  padding: .5em 2em;
  text-align: center;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button:hover, a.button:hover {
  background-color: #a70064;
}

/* ==========================================================================
   Header
   ========================================================================== */
.site-header {
  background: #2b2c27;
  color: #fff;
  padding: 12px 0;
}

.site-logo {
  display: block;
  height: 21px;
  width: 188px;
  line-height: 1;
}
.site-logo img {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Introduction
   ========================================================================== */
.intro {
  background: url(../img/dist/intro_bg_pattern_left.png) no-repeat left top, url(../img/dist/intro_bg_pattern_right.png) no-repeat right top;
  background-color: #dba8c5;
  color: #fff;
  padding: 40px 0;
  position: relative;
}

.intro-content {
  margin: 0 auto;
  position: relative;
  max-width: 630px;
}
.intro-content h1 {
  margin-bottom: 0;
}
.intro-content p {
  font-size: 1.6rem;
}

.call-to-action {
  margin-top: 40px;
}

.products {
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: -12px;
  margin-right: -12px;
  position: relative;
  overflow: hidden;
}

.product {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 12px;
  padding-right: 12px;
}
.product a {
  -ms-align-content: flex-start;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-decoration: none;
  min-height: 100%;
}
.product:hover .product-thumbnail {
  border: 3px solid #da0082;
}
.product p {
  border-radius: 12px;
  color: #fff;
  font-family: "RionaSansRegular", helvetica, arial, sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 12px 6px;
  text-align: center;
}

.product-thumbnail {
  background-color: white;
  border: 3px solid #fff;
  border-radius: 12px;
  height: auto;
  margin-bottom: 4px;
  overflow: hidden;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.product-thumbnail img {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .intro {
    background-image: none, url(../img/dist/intro_bg_pattern_right.png);
  }
}
@media screen and (max-width: 800px) {
  .intro {
    background-image: none, none;
  }

  .product {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media screen and (max-width: 500px) {
  .product {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* ==========================================================================
   Benefits
   ========================================================================== */
.benefits {
  background: #f3f3f2 url(../img/dist/benefits_bg.jpg) no-repeat center bottom;
  color: #87b547;
  padding: 40px 0;
  position: relative;
}

.benefit h4:before {
  display: block;
  content: '';
  margin-bottom: 1em;
  height: 45px;
  width: 45px;
}
.benefit p {
  color: #2b2c27;
}

.benefits-row {
  margin-top: 50px;
}
.benefits-row .col:nth-child(1) h4:before {
  background: url(../img/dist/icon_tools.png) no-repeat top left;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
.benefits-row .col:nth-child(2) h4:before {
  background: url(../img/dist/icon_support.png) no-repeat top left;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
.benefits-row .col:nth-child(3) h4:before {
  background: url(../img/dist/icon_dev.png) no-repeat top left;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

.benefits-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 630px;
  position: relative;
}

.flow-title {
  background: url(../img/dist/tagline_arrow.png) no-repeat, url(../img/dist/tagline_arrow.png) no-repeat;
  background-position: 140px 0, 295px 0;
  -moz-background-size: 144px 41px, 144px 41px;
  -o-background-size: 144px 41px, 144px 41px;
  -webkit-background-size: 144px 41px, 144px 41px;
  background-size: 144px 41px, 144px 41px;
  color: #da0082;
  font-family: "RionaSansLight", helvetica, arial, sans-serif;
  margin: 1em auto;
  padding-top: 50px;
  position: relative;
  text-align: center;
  width: 540px;
}
.flow-title strong {
  font-family: "RionaSansBold", helvetica, arial, sans-serif;
}

@media screen and (max-width: 800px) {
  .flow-title {
    background-position: 57px 0, 193px 0;
    -moz-background-size: 125px auto, 125px auto;
    -o-background-size: 125px auto, 125px auto;
    -webkit-background-size: 125px auto, 125px auto;
    background-size: 125px auto, 125px auto;
    font-size: 20px;
    padding-top: 45px;
    width: 360px;
  }
}
@media screen and (max-width: 500px) {
  .flow-title {
    background-position: 47px 0, 170px 0;
    -moz-background-size: 115px auto, 115px auto;
    -o-background-size: 115px auto, 115px auto;
    -webkit-background-size: 115px auto, 115px auto;
    background-size: 115px auto, 115px auto;
    font-size: 18px;
    padding-top: 40px;
    width: 320px;
  }
}
@media screen and (max-width: 400px) {
  .flow-title {
    background-position: 40px 0, 150px 0;
    -moz-background-size: 100px auto, 100px auto;
    -o-background-size: 100px auto, 100px auto;
    -webkit-background-size: 100px auto, 100px auto;
    background-size: 100px auto, 100px auto;
    font-size: 16px;
    padding-top: 35px;
    width: 280px;
  }
}
/* ==========================================================================
   Community
   ========================================================================== */
.community {
  background-color: #fff;
  color: #00a0de;
  padding: 40px 0;
  position: relative;
}

.testimonial {
  position: relative;
}
.testimonial blockquote {
  background-color: #dba8c5;
  border-radius: 6px;
  color: #2b2c27;
  padding: 8px 20px;
  height: 100%;
}
.testimonial blockquote p {
  font-size: 1.6rem;
}
.testimonial blockquote .small {
  font-size: 1.2rem;
}
.testimonial:before {
  content: '';
}

.testimonials {
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  -ms-justify-content: space-between;
  -ms-align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 0;
}
.testimonials .testimonial:nth-child(1) {
  -ms-flex: 0 1 27%;
  flex: 0 1 27%;
  max-width: 27%;
  padding: 30px 0 0 0;
}
.testimonials .testimonial:nth-child(1):before {
  border-style: solid;
  border-width: 0 15px 30px 15px;
  border-color: transparent transparent #dba8c5 transparent;
  position: absolute;
  top: 0;
  right: 30px;
  width: 0;
  height: 0;
}
.testimonials .testimonial:nth-child(2) {
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  max-width: 40%;
  padding: 60px 30px 0 0;
}
.testimonials .testimonial:nth-child(2):before {
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #dba8c5;
  position: absolute;
  bottom: 30px;
  right: 0;
  height: 0;
  width: 0;
}
.testimonials .testimonial:nth-child(3) {
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  max-width: 25%;
  padding: 0 0 30px 0;
}
.testimonials .testimonial:nth-child(3):before {
  border-style: solid;
  border-width: 30px 15px 0 15px;
  border-color: #dba8c5 transparent transparent transparent;
  position: absolute;
  bottom: 0;
  right: 30px;
  height: 0;
  width: 0;
}

.developer-projects {
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0;
}

.developer-project {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  height: 180px;
  position: relative;
  overflow: hidden;
}
.developer-project.half {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.developer-project:after, .developer-project:before {
  content: '';
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1;
}
.developer-project a {
  position: absolute;
  text-align: center;
  z-index: 500;
  height: 100%;
  width: 100%;
}
.developer-project a:hover h4 {
  background-color: rgba(255, 255, 255, 0.9);
}
.developer-project .developer-project-content {
  display: block;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}
.developer-project .developer-project-content h4 {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  color: #da0082;
  display: inline-block;
  font-size: 1.5rem;
  padding: 10px 12px;
}
.developer-projects .developer-project:nth-child(3):after {
  background-image: url(../img/dist/join_example_product_smartwatches.jpg);
  background-position: center center;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.developer-projects .developer-project:nth-child(3):hover:before, .developer-projects .developer-project:nth-child(3):hover:after {
  -moz-background-size: 125% auto;
  -o-background-size: 125% auto;
  -webkit-background-size: 125% auto;
  background-size: 125% auto;
}
.developer-projects .developer-project:nth-child(2):before {
  background-image: url(../img/dist/join_example_product_charcoal.jpg);
  background-position: center center;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.developer-projects .developer-project:nth-child(2):hover:before {
  -moz-background-size: 125% auto;
  -o-background-size: 125% auto;
  -webkit-background-size: 125% auto;
  background-size: 125% auto;
}
.developer-projects .developer-project:nth-child(1):before {
  background-image: url(../img/dist/join_example_project_1.jpg);
  background-position: center center;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
}
.developer-projects .developer-project:nth-child(1):after {
  background-image: url(../img/dist/join_example_project_2.jpg);
  background-position: center center;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
}
.developer-projects .developer-project:nth-child(1):hover:before, .developer-projects .developer-project:nth-child(1):hover:after {
  -moz-background-size: 125% auto;
  -o-background-size: 125% auto;
  -webkit-background-size: 125% auto;
  background-size: 125% auto;
}

@media screen and (max-width: 800px) {
  .testimonials .testimonial:nth-child(1) {
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
    padding: 0 0 30px 0;
  }
  .testimonials .testimonial:nth-child(1):before {
    border-style: solid;
    border-width: 30px 15px 0 15px;
    border-color: #dba8c5 transparent transparent transparent;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 30px;
    height: 0;
    width: 0;
  }
  .testimonials .testimonial:nth-child(2) {
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
    padding: 0 0 30px 0;
  }
  .testimonials .testimonial:nth-child(2):before {
    border-style: solid;
    border-width: 30px 15px 0 15px;
    border-color: #dba8c5 transparent transparent transparent;
    position: absolute;
    bottom: 0;
    right: 30px;
    height: 0;
    width: 0;
  }
  .testimonials .testimonial:nth-child(3) {
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
    padding: 0 0 30px 0;
  }
  .testimonials .testimonial:nth-child(3):before {
    border-style: solid;
    border-width: 30px 15px 0 15px;
    border-color: #dba8c5 transparent transparent transparent;
    position: absolute;
    bottom: 0;
    right: 30px;
    height: 0;
    width: 0;
  }

  .developer-project {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .developer-project.half {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .developer-project {
    height: 120px;
  }
}
/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */
.remodal {
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #000;
  background: #fff;
}

.remodal-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */
.remodal-close {
  position: absolute;
  top: -17px;
  right: -17px;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  background: #000;
  border-radius: 100%;
  color: #fff;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:before {
  background: #000;
  border-radius: 100%;
  color: #fff;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 30px;
  line-height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.remodal-prev, .remodal-next {
  background-color: #000;
  border-radius: 100%;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  height: 24px;
  width: 24px;
}

.remodal-prev {
  margin-top: -12px;
  left: 3px;
  top: 140px;
}

.remodal-next {
  margin-top: -12px;
  right: 3px;
  top: 140px;
}

@media screen and (max-width: 800px) {
  .remodal-close {
    right: 5px;
    top: 5px;
  }
}
/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}
@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}
@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}
/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.site-footer {
  background: #2b2c27;
  color: #e2e2e2;
  font-size: 1rem;
  padding: 12px 0;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: #fff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.visible-mobile {
  display: none;
}

img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .visible-mobile {
    display: block;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
